stage('Unit tests') {
  options {
    timeout(time: 20, unit: 'MINUTES')
  }
  steps {
    sh '''
    python3 -m tox -e $TOX_ENVIRONMENT -- \
      --cov-report=xml \
      --junit-xml=test-results.xml \
      -v
    '''
  }
  post {
    always {
      publishCoverage(
        adapters: [
          coberturaAdapter(path: 'coverage.xml'),
        ],
        tag: 'pytest',
      )

      // JUnit report
      junit(
        allowEmptyResults: true,
        testResults: 'test-results.xml',
      )
    }
  } // post
} // unit tests
